html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 40px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.container-fluid{
    .navbar-toggler{
        filter:invert(1)
    }
    background-color: rgb(17, 34, 53);
    .navbar-brand{
        img{
            width:120px;
        }
    }
    .navbar-collapse{
        .nav-link{   
            color: white;
        }
    }
    .d-flex{
        padding-bottom:5px;
    }
}

.col{
    h1{
        padding-top: 15%;
    }
    .col__img{
        height: 60%;
    }
}