// **********general*********
html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 40px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

@mixin flexCentrado{
    display:flex;
    flex-flow: wrap column;
    align-items: center;
    text-align:center;
}

// **********NAVBAR*********
.container-fluid{
    .navbar-toggler{
        filter:invert(1)
    }
    background-color: rgb(17, 34, 53);
    .navbar-brand{
        img{
            width:120px;
        }
    }
    .navbar-collapse{
        .nav-link{   
            color: white;
        }
    }
    .d-flex{
        padding-bottom:5px;
    }
}

// **********HOME**********
.bodyTop-home{
    @include flexCentrado;
    padding: 20px;
    h1{
        padding: 20px;
    }
    .bodyTop-home__cards{
        
    }
    h2{
        padding: 30px;
    }
    .bodyTop-home__p{
        padding: 0px  30px;
    }
}
.bodyBottom-home{
    padding: 0px 0px 30px;
    a{
        text-decoration: none;
        color: white;
    }
}

// *******TALENT AS A SERVICE********
.bodyTop-taas{
    @include flexCentrado;
    padding: 20px;
    img{
        max-width: 100%;
    }
}

// ************IT RECRUITMENT*************
.bodyTop-itr{
    @include flexCentrado;
    padding: 30px 0px 30px;
    iframe{
        max-width: 100%;
    }
    .bodyTop-itr__text{
        padding:5%;
        h2{
            padding: 5% 0 5%;
            font-size: x-large;
            font-weight: bolder;
            text-transform: uppercase;
        }
        .itr__text__list li{
            list-style: none;
            font-size:x-large;
            color: rgb(22, 59, 116);
            font-weight: bolder;            
        }
    }
}

.bodyHr{
    @include flexCentrado;
    padding: 20px 20px;
    h2{
        text-align: center;
    }
}

.carousel-inner{
    padding:0px 0px 30px;
}



// MEDIA QUERY MOBILE FIRST
@media screen and (min-width: 762px){
    .bodyTop-itr .bodyTop-itr__text .itr__text__list{
        display: flex;
        flex-flow: wrap;
        justify-content: space-evenly;
        li{
            padding: 10px 20px;
        }
    }
}