html {
    min-height: 100%;
    position: relative;
}
body {
    margin: 0;
    margin-bottom: 40px;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
}

.container-fluid{
    .navbar-toggler{
        filter:invert(1)
    }
    background-color: rgb(17, 34, 53);
    .navbar-brand{
        img{
            width:120px;
        }
    }
    .navbar-collapse{
        .nav-link{   
            color: white;
        }
    }
    .d-flex{
        padding-bottom:5px;
    }
}

.col .bodyTop-hraas{
    h1{
        padding-top: 15%;
    }
    .col__img{
        height: 60%;
    }
}

.bodyTop-home{
    display:flex;
    flex-flow: wrap column;
    align-items: center;
    text-align: center;
    padding: 20px;
    h1{
        padding: 20px;
    }
    .bodyTop-home__cards{
        display: flex;
        align-items: center;
        flex-flow: wrap;
    }
    h2{
        padding: 30px;
    }
    .bodyTop-home__p{
        padding: 0px  30px;
    }
}
.bodyBottom-home{
    padding: 0px 0px 30px;
    a{
        text-decoration: none;
        color: white;
    }
}